#diconodinoi {
   margin-top: 100px;
   display: none;
    width: 100%;
    height: 100px;
   background-image: url(./img/diconodinoi.png);
    background-size: cover;
    background-position: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}