#galleria {
    width: 100%;
    height: 20%;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 300px;
    
}
.fotogalleria {
    width: 100%;
}
.galleria {
    position: absolute;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transform: scale(1);
    animation: artistic 20s infinite;
}




#galleria1 {
    
    background-image: url(./Galleria1png);
    animation-delay: 0s;
}
#galleria2 {
    
    background-image: url(./galleria2.jpeg);
    animation-delay: 6s;
}
#galleria3 {
    
    background-image: url(./galleria3.jpeg);
    animation-delay: 10s;
}
#galleria4 {
    
    background-image: url(./galleria4.jpeg);
    animation-delay: 14s;
}

@keyframes artistic {
    0%   { opacity: 0; transform: scale(1); }
    10%  { opacity: 1; transform: scale(1.05); }
    40%  { opacity: 1; transform: scale(1.1); }
    50%  { opacity: 1; transform: scale(1.05); }
    60%  { opacity: 0; transform: scale(1); }
    100% { opacity: 0; transform: scale(1); }
}
.TXT {
    text-align: center;
    font-size: 40px;
    color: white;
    border: 2px solid white;
    padding: 10px;
    text-shadow: 2px 2px 4px black;
}
