.postistagram {
    display: flex;
    margin-left: 10%;
}
.post{
    width: 30%;
    outline: 5px solid black;
  outline-offset:-1 ; /* lo spinge dentro */
     
}
#lgista {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}
#txtista {
    color: white;
    text-align: center;
}
#caricaaltro {
   margin-top: 20px;
   margin-left: 40px;
   width: 20%;

}

.postistagramnasc {
    display: none;
}

.postistagramnasc.show {
    display: flex;
    margin-left: 10%;
}
