body {margin: 0;
background-color: black;}
#header {
    width: 100%;
    height: 20%;
}
.header {
    display: flex;
}
#pt1 {
    height: 20%;

}
.social { width: 20px;
    
    
}
#frase1{
    font-family: Georgia,  serif;
    font-style: italic;
    text-align: center;

}

#frase {
    width: 50%;
    color: white;
    font-size: 10px;
   

    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    
}
.spazio {
    width: 50%;
    
}
#imgsocial {
   float: right;
   margin-right: 5px;
   margin-top: 10px;
}
    
    
#social {
    width: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    
}
#menuatendinalogo {
    width: 20px;
    height: 50px;
    margin-left: 60%;
    
    
    
}
#logolocale {
    width: 100px;
    margin-top: auto;
}
#fine1 {border-bottom: 1px solid rgba(255, 255, 255, 0.5);}