#menuprenota {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 20%;
    background-color: white;
    border-radius: 0% 90% 0% 90%;
}
.fotoss1 {
    width: 25%;
    height: 50%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 10%;
    
    
    border-radius: 20%;
    border: 1px black solid;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.fotoss2 {
    width: 25%;
    height: 50%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 10%;
    
    
    
    border-radius: 20%;
    border: 1px black solid;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}